@mixin text-preset-1 {
  font-size: 5.6rem;
  line-height: 1.2;
  font-weight: 800;
}
@mixin text-preset-2 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 800;
}
@mixin text-preset-3 {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 800;
}
@mixin text-preset-4 {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 800;
}

@mixin text-preset-5 {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
}

@mixin text-preset-6 {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700;
}
@mixin text-preset-7 {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 700;
}
@mixin text-preset-8 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
}
